name: Update Status Badges
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update_status_badges:
    runs-on: ubuntu-latest
    name: Update status badges
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check and update badges
        uses: lucasvanmol/status-badges@main
        with:
          path: "README.md"
          token: ${{ secrets.GITHUB_TOKEN }}
          stale-timeout: "1 week"
          pull-request: true
